.hero-section {
    background: url(./images/water.jpg) no-repeat center center;
    background-size: cover;
}

.hero-section .h1 {
    width: 85%;
    margin: 0 auto;
}

.mkpafrang .okon {
    min-height: 30rem;
    background-size: cover;
}

.iphone {
    background: url(./images/iphone\ back.jpg) no-repeat center center;
    background-size: cover;
}

.coding {
    background: url(./images/coding\ bug.jpg) no-repeat center center;
    background-size: cover;
}

.laptop {
    background: url(./images/laptop\ hand.jpg) no-repeat center center;
    background-size: cover;
}

.rebbecca {
    min-height: 80vh;
}

.okon-text .text-container {
    padding: 7rem;
}

@media screen and (max-width: 520px) {
    .okon-text .text-container {
        padding: 3rem;
    }
    
}

.testimonials {
    padding: 7rem 0;
}

.ready{
    background: url(./images/water.jpg) no-repeat center center;
    background-size: cover;
    padding: 7rem 0;
}

.footer {
    min-height: 20vh;
    padding: 4rem 0;
}

input{
    box-shadow: none !important;
    outline: none !important;
}